[Unit]
Description=Starts the Python script that records from USB microphone into segmented audio files. 
After=multi-user.target
Wants=dev-snd-usb\x2dDevice.device

[Service]
ExecStartPre=/bin/bash -c 'until aplay -l | grep -q "card 1"; do sleep 1; done'
ExecStart=/usr/bin/python3 /home/bob325/record-audio.py
WorkingDirectory=/home/bob325/
Restart=always
RestartSec=30
User=bob325
Group=bob325
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
