[Unit]
Description=Runs Python script that uploads bandwidth usage statistics to centralized server.                       
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/bash -c 'until ping -c 1 8.8.8.8 > /dev/null 2>&1; do sleep 1; done'
ExecStart=/usr/bin/python3 /home/bob325/send-bandwidth-usage.py
WorkingDirectory=/home/bob325/
Restart=always
RestartSec=30
User=bob325
Group=bob325
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
